$primary: #264653;
$secondary: #2a9d8f;
$tertiary: #c9dfdd;
@import './bootstrap/bootstrap';


.split {
  height: 100%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
}

.sideBarView {
  width: 20%;
  left: 0;
  background-color: lighten($primary, 0.3);
  color: white;
  height: 100%;
  padding: 10px 10px;
}

.mainContentView {
  width: 80%;
  right: 0;
  padding: 10px 10px 10px 10px;
  background-color: $tertiary;
}

/* Menu design */
menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: white;
  padding: 4px 0px;
  text-decoration: none;
}

li a:hover {
  color: $tertiary;
}


/* Button design */
.SidebarButton {
  border-radius: 4px;
  border: 1px solid white;
  box-shadow: 1px 1px 1px white;
  padding: 5px 8px;
  text-decoration: none;
  color: white;
  width: 100%;
}

.SidebarButton:hover {
  border-radius: 4px;
  border: 1px solid $tertiary;
  box-shadow: 1px 1px 1px $tertiary;
  color: $tertiary;
}


/* Search */
form {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

form.search input[type=text] {
  padding: 6px;
  font-size: 14px;
  border: 1px solid white;
  float: left;
  width: 50%;
  background: white;
  border-radius: 2px;
}

form.search button {
  float: left;
  width: 15%;
  padding: 6px;
  background: $primary;
  color: white;
  font-size: 14px;
  border: 1px solid white;
  border-left: none;
  cursor: pointer;
  border: 1px solid white;
  box-shadow: 1px 1px 1px white;
  border-radius: 2px;
}

form.search button:hover {
  border-radius: 2px;
  color: $tertiary;
  border: 1px solid $tertiary;
  box-shadow: 1px 1px 1px $tertiary;
}

/* Clear floats after search */
form.search::after {
  content: "";
  clear: both;
  display: table;
}


/* Time period slider */
.timeperiod {
  width: 65%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  border-radius: 4px;
  border: 1px solid $tertiary;
  background: white;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 0.8;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid $primary;
  background: $tertiary;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid $primary;
  background: $tertiary;
  cursor: pointer;
}