<div id="header">
    <h1>Modus Operandi Digital Scams</h1>
</div>

<div>
    <canvas id="results_chart"></canvas>
    <script>
        function GetFilterData() {
            return {
                'filter_year_start': document.getElementById("time_start").value,
                'filter_year_end': document.getElementById("time_end").value,
                'filter_spam': $('#chk_spam_filter')[0].checked,
                'filter_keywords': document.getElementById("keywords").value
            }
        }

        function UpdateMainViewChart() {
            Charts.CreateBarChart("results_chart", `/api/bardata`, GetFilterData())
        }

        UpdateMainViewChart()
    </script>

</div>