<div class="container-sm">
    <menu>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="/datasource/">Data Sources</a></li>
    </menu>
    <hr>

    <h4>Filters</h4>

    <u>
        <h6>Categories</h6>
    </u>
    <div>
        <input type="checkbox" id="identity" name="identity">
        <label for="identity">Identity Theft</label>
    </div>
    <div>
        <input type="checkbox" id="financial" name="financial">
        <label for="financial">Financial Theft</label>
    </div>
    <br>

    <u><h6>Time Period</h6></u>

    <div class="timeperiod">
        <input type="range" min="2018" max="2021" value="2018" class="slider" id="time_start">
        <p>Start Year: <span id="year_start"></span></p>
    </div>
    <div class="timeperiod">
        <input type="range" min="2018" max="2021" value="2018" class="slider" id="time_end">
        <p>End Year: <span id="year_end"></span></p>
    </div>


    <div class="mb-3">
        <input type="text" id="keywords" name="keywords">
        <label for="keywords">Keywords separate by Comma (,)</label>
    </div>
    <hr>
    <div class="form-check">
        <label for="chk_spam_filter" class="form-check-label">Experimental: Advanced Spam filter that can increase data
            quality, but lowers quantity</label>
        <input id="chk_spam_filter" class="form-check-input" type="checkbox">
    </div>

    <br>

    <script>
        var slider_start = document.getElementById("time_start");
        var output_start = document.getElementById("year_start");
        var slider_end = document.getElementById("time_end");
        var output_end = document.getElementById("year_end");

        output_start.innerHTML = slider_start.value;
        slider_start.oninput = function () {
            output_start.innerHTML = this.value;
            slider_end.min = this.value
        }

        output_end.innerHTML = slider_end.value;
        slider_end.oninput = function () {
            output_end.innerHTML = this.value;
        }

    </script>

    <div class="row align-items-center" style="padding-bottom: 10px">
        <div class="col-md-auto">
            <button class="btn btn-secondary" onclick="UpdateMainViewChart()">Search</button>
        </div>
        <div class="col-md-auto">
            <button class="btn btn-outline-secondary" href="">Reset</button>
        </div>
    </div>
    <hr>


</div>
