<div class="container-sm">
    <menu>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
    </menu>
    <hr>

    <h4>Filters</h4>

    <u>
        <h6>Categories</h6>
    </u>
    <div>
        <input type="checkbox" id="identity" name="identity">
        <label for="identity">Identity Theft</label>
    </div>
    <div>
        <input type="checkbox" id="financial" name="financial">
        <label for="financial">Financial Theft</label>
    </div>
    <br>

    <u>
        <h6>Media Source</h6>
    </u>
    <div>
        <input type="checkbox" id="email" name="email">
        <label for="email">Email</label>
    </div>
    <div>
        <input type="checkbox" id="news" name="news">
        <label for="news">News Article</label>
    </div>
    <br>
    <u><h6>Time Period</h6></u>

    <div class="timeperiod">
        <input type="range" min="2017" max="2021" value="50" class="slider" id="time">
        <p>Year: <span id="year"></span></p>
    </div>
    <br>

    <script>
        var slider = document.getElementById("time");
        var output = document.getElementById("year");
        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = this.value;
        }
    </script>

    <div class="row align-items-center" style="padding-bottom: 10px">
        <div class="col-md-auto">
            <a class="SidebarButton" href="">Apply</a>
        </div>
        <div class="col-md-auto">
            <a class="SidebarButton" href="">Reset</a>
        </div>
    </div>

    <hr>
    <form class="search" action="">
        <input type="text" placeholder="Search" name="search">
        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
    </form>


</div>
