{% load static %}
{% load sass_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <link href="{% sass_src 'css/style.scss' %}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="{% static "js/bootstrap/bootstrap.bundle.min.js" %}"></script>
    <script src="https://kit.fontawesome.com/ccda9ef56d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static "js/Dsp.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Style Stuff -->

    {% csrf_token %}
    <title>Uncovering Modus Operandi</title>
</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>