{% extends 'Base.html' %}
{% block content %}
    <div class="container-lg">
        <h1>Email Data</h1>
        <h4>Subject: {{ object.subject }}</h4>
        <hr>
        <h3>Headers</h3>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            {% for key, value in object.headers.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </table>
        <hr>
        <h3>Content Raw</h3>
        <span>{{ object.content_raw }}</span>
        <h3>Content Clean</h3>
        <span>{{ object.content_text }}</span>
    </div>
{% endblock %}
